.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* Use the full viewport height */
}

.toggleButton {
  z-index: 10;
}

.top-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.middle-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  height: calc(100vh - height_of_other_elements);
  /* Adjust this according to other elements on your page */
}


.middle-section.no-sidebar .main-question-window {
  /* You can add any additional styles here to adjust the main question window when the sidebar is hidden. */
  margin: 0 auto;
  /* This is a common method to horizontally center block-level elements */

}

.left-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  /* Adjust this according to your design */
  overflow-y: auto;
  border-right: 1px solid #ccc;
  padding-right: 20px;
  z-index: 5;
}


.main-question-window {
  width: 1200px;
  height: 800px;
  /* Adjust this based on your aesthetic preference */
  border: 4px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  /* This ensures that the inner content doesn't spill out */
  max-width: 90%;
  /* Shifts the main question window to the right */
}

.main-question-window.centered {
  width: 90%;
  /* Adjust this percentage based on your preference when sidebar is not visible */
}

.main-question-window.with-sidebar {
  margin-left: 30%;
}

.question-content {
  padding: 20px;
  /* Space around the actual question and its options */
  flex: 1;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  color: #fff;
}



.left-sidebar-header {
  background-color: #007BFF;
  /* You can choose any color you prefer */
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px 5px 0 0;
  text-align: center;
  margin-bottom: 10px;
}

/* Style to highlight the active question in the left sidebar */
.active-question {
  background-color: #5e5e5d;
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
}

.question-preview {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
  padding: 5px;
  /* Optional padding for better spacing */
  border-bottom: 1px solid #ddd;
  /* Optional border for visual separation */
}

.exam-finished-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full viewport height */
  font-size: 24px;
  /* Increased font size for visibility */
  font-weight: bold;
  /* Bold text */
  text-align: center;
  /* Center aligned text */
}